No{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	{% load static %}
    <link  href="{% static "styles.min.css" %}">
    <title>Ytube download</title>
	{% tailwind_css %}   
<body class=' text-white' style="background-color:#03071e">
<div class="mx-auto text-center bg-blue-700 ">
	<form class="shadow-md rounded px-8 pt-6 pb-8 mb-4   "action="download/" class="search-form" method="get">
		{%load static %}
		<img class='class=" mx-auto ' src="{% static 'images/youtube-logo-png-31812.png'%}" style='width:20%; margin-top:10%;'>
		<div class="heading">
			Enter Youtube  Video link here	
		</div>
	  <div class="mb-4 mx-auto text-center">
		<input class="shadow appearance-none border rounded w-52  py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="url" type="text">
	  </div>
	
	  <div class="flex items-center justify-between ">
		<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mx-auto text-center mt-10" type="submit">
		  Enter a link
		</button>
	</form>
  </div>
</div>
</body>
